services:
  app:
    build: .
    container_name: fastapi_app
    volumes:
      - .:/app

    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"

    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:14
    container_name: postgres
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always


  redis:
    image: redis:8
    container_name: redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    volumes:
      - redis_data:/data
    restart: always
volumes:
  pg_data:
  redis_data:

  