services:
  app:
    build: .
    container_name: fastapi_app
    volumes:
      - .:/app

    env_file:
      - .env
    ports:
      - "8000:8000"

    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:14
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always


  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
volumes:
  pg_data:
  redis_data:

  